/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	--color-text: #e6e6e6;
	--color-background: #1b1d26;
	--color-primary: #e6e6e6;
	--color-secondary: #282a31;
	--color-accent: #d612c3;
}
